In [1]:
# Import required librarriws
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
!ls

data
EDA-AVOCADO-BEHNAM.ipynb
README.md

In [4]:
#db = pd.read_csv("D:/learnpython2/Top-Steel-Producer-Kaggle/data/b1.csv")
db=pd.read_csv("./data/avocado.csv")
db.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [6]:
db.shape

(18249, 14)

In [7]:
db.size

255486

In [9]:
db.describe()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,24.232232,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,15.481045,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.000000,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,10.000000,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,24.000000,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,38.000000,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,52.000000,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

In [10]:
db.info()
# unnamed should be deleted

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
Unnamed: 0      18249 non-null int64
Date            18249 non-null object
AveragePrice    18249 non-null float64
Total Volume    18249 non-null float64
4046            18249 non-null float64
4225            18249 non-null float64
4770            18249 non-null float64
Total Bags      18249 non-null float64
Small Bags      18249 non-null float64
Large Bags      18249 non-null float64
XLarge Bags     18249 non-null float64
type            18249 non-null object
year            18249 non-null int64
region          18249 non-null object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB

In [11]:
db.dtypes
# all integer and float
# excpet : Date (should chnage to date /time ------region as string  categorical----type as string (categorical))

Unnamed: 0        int64
Date             object
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object

In [12]:
db.isnull().any().any()
# there is no null value

False

In [13]:
db.year.unique()

array([2015, 2016, 2017, 2018], dtype=int64)

In [14]:
db.region.unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [15]:
db.region.value_counts()
# report is for eaxh state

Chicago                338
LasVegas               338
Houston                338
Tampa                  338
Sacramento             338
West                   338
Southeast              338
NorthernNewEngland     338
Charlotte              338
HarrisburgScranton     338
GreatLakes             338
PhoenixTucson          338
Indianapolis           338
Midsouth               338
California             338
Atlanta                338
DallasFtWorth          338
Pittsburgh             338
SouthCarolina          338
Northeast              338
Syracuse               338
Nashville              338
Roanoke                338
GrandRapids            338
CincinnatiDayton       338
Boston                 338
NewOrleansMobile       338
SanDiego               338
Albany                 338
Plains                 338
BaltimoreWashington    338
HartfordSpringfield    338
Columbus               338
Denver                 338
RaleighGreensboro      338
Louisville             338
StLouis                338
Portland               338
Spokane                338
SanFrancisco           338
Jacksonville           338
NewYork                338
BuffaloRochester       338
Boise                  338
RichmondNorfolk        338
MiamiFtLauderdale      338
Philadelphia           338
SouthCentral           338
Orlando                338
LosAngeles             338
Seattle                338
TotalUS                338
Detroit                338
WestTexNewMexico       335
Name: region, dtype: int64

In [16]:
db.year.value_counts()
# it is 4 years

2017    5722
2016    5616
2015    5615
2018    1296
Name: year, dtype: int64

In [18]:
db.pivot_table(index=[db.Date],columns=[db.region])
# it is weekly report

                4046                                                        \
region        Albany     Atlanta BaltimoreWashington      Boise     Boston
Date
2015-01-04  1438.460  182901.270           31013.975  22281.695   3601.265
2015-01-11   520.925  166012.465           31859.450  19056.170   2780.465
2015-01-18   461.080  187187.715           29048.025  25181.890   2193.990
2015-01-25   478.125  197493.380           28896.700  25961.660   2366.955
2015-02-01   693.510  277382.025           53900.830  33748.150   3047.530
...              ...         ...                 ...        ...        ...
2018-02-25  5592.665  129203.930           52922.155  21093.000   9828.680
2018-03-04  6156.835  136421.320           52523.940  22282.090  10195.960
2018-03-11  7977.510  160394.845           53113.530  14249.185  11824.775
2018-03-18  6755.375  162067.035           58443.290  24617.260  12425.950
2018-03-25  8202.320  140839.315           55126.460  20218.815  13023.385

                                                                \
region     BuffaloRochester   California  Charlotte    Chicago
Date
2015-01-04         1633.985  1475569.495  14785.365  15729.805
2015-01-11          821.125  1506651.900  15871.135  16333.345
2015-01-18          858.555  1451998.975  13404.815  13036.290
2015-01-25          668.825  1230953.925  18865.520  13414.595
2015-02-01         1068.255  2468237.295  26562.995  26073.630
...                     ...          ...        ...        ...
2018-02-25         6812.040  1347562.265  31739.475  37356.180
2018-03-04         7365.350  1207484.685  33745.500  55351.215
2018-03-11         9410.825  1155101.535  36438.405  47812.410
2018-03-18         8429.370  1095217.965  36652.140  42684.910
2018-03-25         9254.300   980903.055  34053.400  71502.965

                             ...          year                                 \
region     CincinnatiDayton  ... SouthCarolina SouthCentral Southeast Spokane
Date                         ...
2015-01-04         1709.385  ...          2015         2015      2015    2015
2015-01-11         1911.190  ...          2015         2015      2015    2015
2015-01-18         1807.685  ...          2015         2015      2015    2015
2015-01-25         1918.925  ...          2015         2015      2015    2015
2015-02-01         2442.200  ...          2015         2015      2015    2015
...                     ...  ...           ...          ...       ...     ...
2018-02-25        29921.830  ...          2018         2018      2018    2018
2018-03-04        35061.645  ...          2018         2018      2018    2018
2018-03-11        33109.865  ...          2018         2018      2018    2018
2018-03-18        34688.505  ...          2018         2018      2018    2018
2018-03-25        35611.125  ...          2018         2018      2018    2018


region     StLouis Syracuse Tampa TotalUS  West WestTexNewMexico
Date
2015-01-04    2015     2015  2015    2015  2015             2015
2015-01-11    2015     2015  2015    2015  2015             2015
2015-01-18    2015     2015  2015    2015  2015             2015
2015-01-25    2015     2015  2015    2015  2015             2015
2015-02-01    2015     2015  2015    2015  2015             2015
...            ...      ...   ...     ...   ...              ...
2018-02-25    2018     2018  2018    2018  2018             2018
2018-03-04    2018     2018  2018    2018  2018             2018
2018-03-11    2018     2018  2018    2018  2018             2018
2018-03-18    2018     2018  2018    2018  2018             2018
2018-03-25    2018     2018  2018    2018  2018             2018

[169 rows x 594 columns]

In [19]:
db.columns
# check the columns

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region'],
      dtype='object')

In [23]:
(db['4046']+db['4225']+db['4770']==db['Total Volume']).sum()
# only in 10  record sum of Avocado sales equals to 3 labels.probably there should be more avocado brand
#

10

In [24]:
(db['Small Bags']+db['Large Bags']+db['XLarge Bags']==db['Total Bags']).sum()
# for 14000 record total bags wulas to small+large +x large 
# for about 4000 record it dose not match.maybe there is another way to seel the avocado

14213

In [30]:
check_bags=db[(db['Small Bags']+db['Large Bags']+db['XLarge Bags']!=db['Total Bags'])].copy()

In [31]:
check_bags

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
6,6,2015-11-15,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00,conventional,2015,Albany
16,16,2015-09-06,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00,conventional,2015,Albany
19,19,2015-08-16,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,0.00,conventional,2015,Albany
24,24,2015-07-12,1.05,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33,conventional,2015,Albany
26,26,2015-06-28,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18234,9,2018-01-21,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27,organic,2018,West
18235,10,2018-01-14,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12,organic,2018,West
18237,0,2018-03-25,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.00,organic,2018,WestTexNewMexico
18242,5,2018-02-18,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.00,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.00,organic,2018,WestTexNewMexico

In [32]:
db.type.unique()

array(['conventional', 'organic'], dtype=object)

In [33]:
db.type.value_counts()

conventional    9126
organic         9123
Name: type, dtype: int64

In [38]:
db_conventional=db.loc[db.type=='conventional'].copy()
db_organic=db.loc[db.type=='organic'].copy()